Repository AdiPol1359/adipol.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

feat(home): add hero section
  src/assets/images/emojis/call-me-hand.png
  src/assets/images/emojis/gem-stone.png
  src/assets/images/emojis/raised-hand.png
  src/assets/images/emojis/waving-hand.png
  src/assets/styles/global.css
  src/assets/svgs/decorations/large-dashed-arrow-1.svg
  src/assets/svgs/decorations/large-dashed-arrow-2.svg
  src/assets/svgs/decorations/large-filled-arrow-1.svg
  src/assets/svgs/decorations/small-dashed-arrow-1.svg
  src/assets/svgs/decorations/small-filled-arrow-1.svg
  src/components/common/social-media.astro
  src/components/decorations/arrow.astro
  src/components/decorations/index.ts
  src/components/home/hero-section/hero-section-about-me.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar-discover-more.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar-image.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-cta.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-header.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro.astro
  src/components/home/hero-section/hero-section.astro
  src/components/home/index.ts
  src/components/icons/arrow-down.astro
  src/components/icons/index.ts
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/components/ui/button.astro
  src/components/ui/emoji.astro
  src/components/ui/heading.astro
  src/components/ui/index.ts
  src/pages/index.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat(home): add hero section (#37)
  src/assets/images/emojis/call-me-hand.png
  src/assets/images/emojis/gem-stone.png
  src/assets/images/emojis/raised-hand.png
  src/assets/images/emojis/waving-hand.png
  src/assets/styles/global.css
  src/assets/svgs/decorations/large-dashed-arrow-1.svg
  src/assets/svgs/decorations/large-dashed-arrow-2.svg
  src/assets/svgs/decorations/large-filled-arrow-1.svg
  src/assets/svgs/decorations/small-dashed-arrow-1.svg
  src/assets/svgs/decorations/small-filled-arrow-1.svg
  src/components/common/social-media.astro
  src/components/decorations/arrow.astro
  src/components/decorations/index.ts
  src/components/home/hero-section/hero-section-about-me.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar-discover-more.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar-image.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-cta.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-header.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro.astro
  src/components/home/hero-section/hero-section.astro
  src/components/home/index.ts
  src/components/icons/arrow-down.astro
  src/components/icons/index.ts
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/components/ui/button.astro
  src/components/ui/emoji.astro
  src/components/ui/heading.astro
  src/components/ui/index.ts
  src/pages/index.astro
Due: pnpm prettier --write, pnpm eslint --fix

refactor: change twitter x to instagram
  src/components/common/social-media.astro
  src/components/icons/index.ts
  src/components/icons/instagram.astro
  src/components/icons/twitter-x.astro
Due: pnpm prettier --write, pnpm eslint --fix

refactor(icons): remove aria-hidden prop
  src/components/common/social-media.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar-discover-more.astro
  src/components/icons/arrow-down.astro
  src/components/icons/github.astro
  src/components/icons/instagram.astro
  src/components/icons/linkedin.astro
  src/types/icon-props.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat(main-layout): add decorations
  src/components/decorations/index.ts
  src/components/decorations/lines.astro
  src/components/decorations/waves.astro
  src/components/layouts/main-layout/main-layout-content-wrapper.astro
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat(main-layout): add decorations (#38)
  src/components/decorations/index.ts
  src/components/decorations/lines.astro
  src/components/decorations/waves.astro
  src/components/layouts/main-layout/main-layout-content-wrapper.astro
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat(home): add hero section decorations
  src/components/decorations/lines.astro
  src/components/decorations/nickname.astro
  src/components/decorations/waves.astro
  src/components/home/hero-section/hero-section-decorations.astro
  src/components/home/hero-section/hero-section.astro
  src/components/layouts/main-layout/main-layout-content-wrapper.astro
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-decoration.astro
Due: none

feat(home): add hero section decorations (#39)
  src/components/decorations/lines.astro
  src/components/decorations/nickname.astro
  src/components/decorations/waves.astro
  src/components/home/hero-section/hero-section-decorations.astro
  src/components/home/hero-section/hero-section.astro
  src/components/layouts/main-layout/main-layout-content-wrapper.astro
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-decoration.astro
Due: none

feat: add image optimization
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-memoji.astro
  src/components/ui/avatar.astro
  src/components/ui/emoji.astro
Due: none

refactor(ui): remove typography components
  package.json
  pnpm-lock.yaml
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-copyright.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-deployment.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-items.astro
  src/components/ui/index.ts
  src/components/ui/link.astro
  src/components/ui/text.astro
Due: pnpm prettier --write, pnpm eslint --fix

refactor(ui): remove typography components (#40)
  package.json
  pnpm-lock.yaml
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-copyright.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-deployment.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-items.astro
  src/components/ui/index.ts
  src/components/ui/link.astro
  src/components/ui/text.astro
Due: pnpm prettier --write, pnpm eslint --fix

refactor: change primary link color
  src/assets/styles/global.css
Due: pnpm prettier --write

refactor(main-layout): change padding top
  src/components/home/hero-section/hero-section.astro
  src/components/layouts/main-layout/main-layout.astro
Due: none

fix(main-layout): fix header position
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header.astro
Due: none

chore: add vercel.json
  vercel.json
Due: none

chore: add vercel.json (#41)
  vercel.json
Due: none

feat(home): add latest posts section
  src/assets/images/emojis/fire.png
  src/assets/images/emojis/hourglass.png
  src/assets/images/memojis/smiling.png
  src/assets/images/memojis/waving.png
  src/assets/images/thumbnails/thumbnail.png
  src/assets/styles/global.css
  src/assets/svgs/decorations/large-dashed-arrow-3.svg
  src/components/decorations/arrow.astro
  src/components/home/hero-section/hero-section-about-me.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar-image.astro
  src/components/home/hero-section/hero-section-decorations.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-header.astro
  src/components/home/index.ts
  src/components/home/latest-posts-section/latest-posts-section-footer.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-left-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-right-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-empty-space-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-post-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/home/latest-posts-section/latest-posts-section.astro
  src/components/icons/arrow-right-up.astro
  src/components/icons/index.ts
  src/components/icons/share.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-memoji.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation.astro
  src/components/ui/button.astro
  src/components/ui/card/card-content.astro
  src/components/ui/card/card-inset.astro
  src/components/ui/card/card.astro
  src/components/ui/emoji.astro
  src/components/ui/heading.astro
  src/components/ui/icon-button.astro
  src/components/ui/index.ts
  src/components/ui/paper.astro
  src/pages/index.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat(home): add latest posts section (#42)
  src/assets/images/emojis/fire.png
  src/assets/images/emojis/hourglass.png
  src/assets/images/memojis/smiling.png
  src/assets/images/memojis/waving.png
  src/assets/images/thumbnails/thumbnail.png
  src/assets/styles/global.css
  src/assets/svgs/decorations/large-dashed-arrow-3.svg
  src/components/decorations/arrow.astro
  src/components/home/hero-section/hero-section-about-me.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar-image.astro
  src/components/home/hero-section/hero-section-decorations.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-header.astro
  src/components/home/index.ts
  src/components/home/latest-posts-section/latest-posts-section-footer.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-left-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-right-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-empty-space-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-post-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/home/latest-posts-section/latest-posts-section.astro
  src/components/icons/arrow-right-up.astro
  src/components/icons/index.ts
  src/components/icons/share.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-memoji.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation.astro
  src/components/ui/button.astro
  src/components/ui/card/card-content.astro
  src/components/ui/card/card-inset.astro
  src/components/ui/card/card.astro
  src/components/ui/emoji.astro
  src/components/ui/heading.astro
  src/components/ui/icon-button.astro
  src/components/ui/index.ts
  src/components/ui/paper.astro
  src/pages/index.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat: add more decorations
  src/components/decorations/index.ts
  src/components/decorations/scribble.astro
  src/components/decorations/wave.astro
  src/components/decorations/wavy-line.astro
  src/components/home/decorations.astro
  src/components/home/index.ts
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout.astro
  src/pages/index.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat: add more decorations (#43)
  src/components/decorations/index.ts
  src/components/decorations/scribble.astro
  src/components/decorations/wave.astro
  src/components/decorations/wavy-line.astro
  src/components/home/decorations.astro
  src/components/home/index.ts
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout.astro
  src/pages/index.astro
Due: pnpm prettier --write, pnpm eslint --fix

fix(decorations): fix nickname font size
  src/components/decorations/nickname.astro
Due: none

fix(main-layout): fix decorations size
  src/components/layouts/main-layout/main-layout-decorations.astro
Due: none

refactor(home): change wavy line position
  src/components/home/decorations.astro
Due: none

feat: add projects page
  src/assets/images/projects/devfaq.png
  src/assets/images/projects/discord-clone.png
  src/assets/images/projects/happy-shop.png
  src/assets/images/projects/impresso-studio.png
  src/assets/images/projects/mobius.png
  src/assets/images/projects/nodejs-minecraft-itemshop.png
  src/assets/images/projects/noodly.png
  src/assets/images/projects/picstagram.png
  src/assets/styles/global.css
  src/components/about-me/about-me-section/about-me-section-divider.astro
  src/components/about-me/experience-section/experience-section-timeline/experience-section-timeline.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items.astro
  src/components/about-me/skills-section/skills-section-items/skills-section-items.astro
  src/components/blocks/index.ts
  src/components/blocks/page-header.astro
  src/components/blocks/social-media.astro
  src/components/home/hero-section/hero-section-decorations.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
  src/components/projects/index.ts
  src/components/projects/projects-header.astro
  src/components/projects/projects-list/projects-list-project.astro
  src/components/projects/projects-list/projects-list.astro
  src/components/ui/card/card-content.astro
  src/components/ui/card/card.astro
  src/components/ui/heading.astro
  src/components/ui/statistics/statistics-item.astro
  src/data/experiences.ts
  src/data/projects.ts
  src/data/recommendations.ts
  src/data/skills.ts
  src/pages/projekty.astro
  src/types/project.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add projects page (#45)
  src/assets/images/projects/devfaq.png
  src/assets/images/projects/discord-clone.png
  src/assets/images/projects/happy-shop.png
  src/assets/images/projects/impresso-studio.png
  src/assets/images/projects/mobius.png
  src/assets/images/projects/nodejs-minecraft-itemshop.png
  src/assets/images/projects/noodly.png
  src/assets/images/projects/picstagram.png
  src/assets/styles/global.css
  src/components/about-me/about-me-section/about-me-section-divider.astro
  src/components/about-me/experience-section/experience-section-timeline/experience-section-timeline.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items.astro
  src/components/about-me/skills-section/skills-section-items/skills-section-items.astro
  src/components/blocks/index.ts
  src/components/blocks/page-header.astro
  src/components/blocks/social-media.astro
  src/components/home/hero-section/hero-section-decorations.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
  src/components/projects/index.ts
  src/components/projects/projects-header.astro
  src/components/projects/projects-list/projects-list-project.astro
  src/components/projects/projects-list/projects-list.astro
  src/components/ui/card/card-content.astro
  src/components/ui/card/card.astro
  src/components/ui/heading.astro
  src/components/ui/statistics/statistics-item.astro
  src/data/experiences.ts
  src/data/projects.ts
  src/data/recommendations.ts
  src/data/skills.ts
  src/pages/projekty.astro
  src/types/project.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor(home): unify font size
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-empty-space-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-post-card.astro
Due: none

feat: add post page
  astro.config.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  posts/wydajne-providery-w-react.md
  public/posts/wydajne-providery-w-react/preview-1.gif
  public/posts/wydajne-providery-w-react/preview-2.gif
  public/posts/wydajne-providery-w-react/preview-3.gif
  public/posts/wydajne-providery-w-react/preview-4.gif
  public/posts/wydajne-providery-w-react/preview-5.gif
  src/assets/images/emojis/backhand-index-pointing-left.png
  src/assets/images/emojis/backhand-index-pointing-right.png
  src/assets/images/emojis/books.png
  src/assets/images/thumbnails/wydajne-providery-w-react.png
  src/assets/styles/global.css
  src/assets/svgs/decorations/small-dashed-arrow-2.svg
  src/components/decorations/arrow.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-post-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/layouts/main-layout/main-layout.astro
  src/components/post/index.ts
  src/components/post/post-comments.astro
  src/components/post/post-view/post-view-content-editor.astro
  src/components/post/post-view/post-view-content.astro
  src/components/post/post-view/post-view-header.astro
  src/components/post/post-view/post-view-sources/post-view-sources-header.astro
  src/components/post/post-view/post-view-sources/post-view-sources-list.astro
  src/components/post/post-view/post-view-sources/post-view-sources.astro
  src/components/post/post-view/post-view.astro
  src/components/projects/projects-list/projects-list-project.astro
  src/components/ui/button.astro
  src/components/ui/divider.astro
  src/components/ui/emoji.astro
  src/components/ui/index.ts
  src/content.config.ts
  src/data/skills.ts
  src/lib/posts.ts
  src/pages/[slug].astro
  src/types/post.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add post page (#46)
  astro.config.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  posts/wydajne-providery-w-react.md
  public/posts/wydajne-providery-w-react/preview-1.gif
  public/posts/wydajne-providery-w-react/preview-2.gif
  public/posts/wydajne-providery-w-react/preview-3.gif
  public/posts/wydajne-providery-w-react/preview-4.gif
  public/posts/wydajne-providery-w-react/preview-5.gif
  src/assets/images/emojis/backhand-index-pointing-left.png
  src/assets/images/emojis/backhand-index-pointing-right.png
  src/assets/images/emojis/books.png
  src/assets/images/thumbnails/wydajne-providery-w-react.png
  src/assets/styles/global.css
  src/assets/svgs/decorations/small-dashed-arrow-2.svg
  src/components/decorations/arrow.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-post-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/layouts/main-layout/main-layout.astro
  src/components/post/index.ts
  src/components/post/post-comments.astro
  src/components/post/post-view/post-view-content-editor.astro
  src/components/post/post-view/post-view-content.astro
  src/components/post/post-view/post-view-header.astro
  src/components/post/post-view/post-view-sources/post-view-sources-header.astro
  src/components/post/post-view/post-view-sources/post-view-sources-list.astro
  src/components/post/post-view/post-view-sources/post-view-sources.astro
  src/components/post/post-view/post-view.astro
  src/components/projects/projects-list/projects-list-project.astro
  src/components/ui/button.astro
  src/components/ui/divider.astro
  src/components/ui/emoji.astro
  src/components/ui/index.ts
  src/content.config.ts
  src/data/skills.ts
  src/lib/posts.ts
  src/pages/[slug].astro
  src/types/post.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add posts page
  src/components/blocks/index.ts
  src/components/blocks/post-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/icons/index.ts
  src/components/icons/search.astro
  src/components/posts/index.ts
  src/components/posts/posts-filtering-script.astro
  src/components/posts/posts-header.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/posts/posts-section/posts-section.constants.ts
  src/components/posts/search-form/search-form.astro
  src/components/posts/search-form/search-form.constants.ts
  src/components/posts/tags-section/tags-section.astro
  src/components/posts/tags-section/tags-section.constants.ts
  src/components/ui/chip.astro
  src/components/ui/index.ts
  src/components/ui/input.astro
  src/lib/posts.ts
  src/pages/posty.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat: add posts page (#47)
  src/components/blocks/index.ts
  src/components/blocks/post-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/icons/index.ts
  src/components/icons/search.astro
  src/components/posts/index.ts
  src/components/posts/posts-filtering-script.astro
  src/components/posts/posts-header.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/posts/posts-section/posts-section.constants.ts
  src/components/posts/search-form/search-form.astro
  src/components/posts/search-form/search-form.constants.ts
  src/components/posts/tags-section/tags-section.astro
  src/components/posts/tags-section/tags-section.constants.ts
  src/components/ui/chip.astro
  src/components/ui/index.ts
  src/components/ui/input.astro
  src/lib/posts.ts
  src/pages/posty.astro
Due: pnpm prettier --write, pnpm eslint --fix

chore: remove dlx from hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor: change hand emojis color
  src/assets/images/emojis/call-me-hand.png
  src/assets/images/emojis/raised-hand.png
  src/assets/images/emojis/waving-hand.png
  src/components/about-me/about-me-section/about-me-section-description.astro
  src/components/about-me/skills-section/skills-section-title.astro
  src/components/blocks/page-header.astro
  src/components/home/hero-section/hero-section-about-me.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-header.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/ui/emoji.astro
Due: none

refactor: change hand emojis color (#48)
  src/assets/images/emojis/call-me-hand.png
  src/assets/images/emojis/raised-hand.png
  src/assets/images/emojis/waving-hand.png
  src/components/about-me/about-me-section/about-me-section-description.astro
  src/components/about-me/skills-section/skills-section-title.astro
  src/components/blocks/page-header.astro
  src/components/home/hero-section/hero-section-about-me.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-header.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/ui/emoji.astro
Due: none

fix(about-me): fix header semantics
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-introduction.astro
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-statistics.astro
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header.astro
  src/components/about-me/about-me-section/about-me-section.astro
Due: none

fix(about-me): fix header semantics (#49)
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-introduction.astro
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-statistics.astro
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header.astro
  src/components/about-me/about-me-section/about-me-section.astro
Due: none

refactor: remove unnecessary slug
  posts/wydajne-providery-w-react.md
Due: none

refactor: cleanup data
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items-recommendation/recommendations-section-items-recommendation-header.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items-recommendation/recommendations-section-items-recommendation.astro
  src/data/recommendations.ts
  src/data/skills.ts
  src/types/post.ts
  src/types/recommendation.ts
  src/types/skill.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor: add missing thumbnail suffix
  src/data/projects.ts
Due: pnpm prettier --write, pnpm eslint --fix

Path conditions:
  pnpm prettier --write: any of: src/**/*.{ts,tsx,css,json,md,mdx}
  pnpm eslint --fix: any of: src/**/*.{ts,tsx}
