Repository AdiPol1359/adipol.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

.lintstagedrc:

{
	"src/**/*.{ts,tsx,css,json,md,mdx}": ["pnpm prettier --write"],
	"src/**/*.{ts,tsx}": ["pnpm eslint --fix"]
}

fix: fix outline in firefox
  src/assets/styles/globals.css
Due: pnpm prettier --write

feat: add what input (#23)
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/assets/styles/globals.css
  src/components/common/SocialList.tsx
  src/components/common/WhatInput.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat: add section with recent posts
  public/.gitkeep
  public/thumbnails/wydajne-providery-w-reactjs.png
  src/app/page.tsx
  src/assets/images/wave-memoji.png
  src/assets/svg/dashed-arrow-4.svg
  src/assets/svg/dashed-line.svg
  src/assets/svg/scribbles.svg
  src/components/landing/Hero/HeroIntroduction/HeroIntroductionCTA.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiImage.tsx
  src/components/layout/Header/HeaderMenu/HeaderMenu.tsx
  src/components/posts/PostCard/PostCard.tsx
  src/components/posts/PostCard/PostCardActions/PostCardActions.tsx
  src/components/posts/PostCard/PostCardActions/PostCardActionsReadMoreButton.tsx
  src/components/posts/PostCard/PostCardActions/PostCardActionsShareButton.tsx
  src/components/posts/PostCard/PostCardDetails.tsx
  src/components/posts/PostCard/PostCardThumbnail.tsx
  src/components/posts/RecentPostsSection/RecentPostsSection.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeader.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeaderDecoration.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeaderTitle.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionList/RecentPostsSectionList.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionList/RecentPostsSectionListEmptyPostCard.tsx
  src/components/ui/Button/Button.stories.ts
  src/components/ui/Button/Button.styles.ts
  src/components/ui/Button/Button.tsx
  src/components/ui/Card/Card.stories.ts
  src/components/ui/Card/Card.tsx
  src/components/ui/IconButton/IconButton.stories.tsx
  src/components/ui/IconButton/IconButton.tsx
  tailwind.config.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add section with recent posts (#24)
  public/.gitkeep
  public/thumbnails/wydajne-providery-w-reactjs.png
  src/app/page.tsx
  src/assets/images/wave-memoji.png
  src/assets/svg/dashed-arrow-4.svg
  src/assets/svg/dashed-line.svg
  src/assets/svg/scribbles.svg
  src/components/landing/Hero/HeroIntroduction/HeroIntroductionCTA.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiImage.tsx
  src/components/layout/Header/HeaderMenu/HeaderMenu.tsx
  src/components/posts/PostCard/PostCard.tsx
  src/components/posts/PostCard/PostCardActions/PostCardActions.tsx
  src/components/posts/PostCard/PostCardActions/PostCardActionsReadMoreButton.tsx
  src/components/posts/PostCard/PostCardActions/PostCardActionsShareButton.tsx
  src/components/posts/PostCard/PostCardDetails.tsx
  src/components/posts/PostCard/PostCardThumbnail.tsx
  src/components/posts/RecentPostsSection/RecentPostsSection.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeader.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeaderDecoration.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeaderTitle.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionList/RecentPostsSectionList.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionList/RecentPostsSectionListEmptyPostCard.tsx
  src/components/ui/Button/Button.stories.ts
  src/components/ui/Button/Button.styles.ts
  src/components/ui/Button/Button.tsx
  src/components/ui/Card/Card.stories.ts
  src/components/ui/Card/Card.tsx
  src/components/ui/IconButton/IconButton.stories.tsx
  src/components/ui/IconButton/IconButton.tsx
  tailwind.config.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add footer
  public/dashed-border.svg
  src/assets/svg/powered-by-vercel.svg
  src/components/common/MainLayout.tsx
  src/components/common/SocialList.tsx
  src/components/layout/Footer/Footer.tsx
  src/components/layout/Footer/FooterContainerDecoration.tsx
  src/components/layout/Footer/FooterCopyright.tsx
  src/components/layout/Footer/FooterMemoji.tsx
  src/components/layout/Footer/FooterPoweredByVercel.tsx
  src/components/layout/Footer/FooterSocials/FooterSocials.tsx
  src/components/layout/Footer/FooterSocials/FooterSocialsDivider.tsx
  src/components/layout/Footer/FooterVercelStatus.tsx
  tailwind.config.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor: merge wrapper styles
  src/components/layout/Footer/Footer.tsx
Due: pnpm prettier --write, pnpm eslint --fix

refactor(layout): refactor footer wrapper styles
  src/components/layout/Footer/Footer.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat: add footer (#25)
  public/dashed-border.svg
  src/assets/svg/powered-by-vercel.svg
  src/components/common/MainLayout.tsx
  src/components/common/SocialList.tsx
  src/components/layout/Footer/Footer.tsx
  src/components/layout/Footer/FooterContainerDecoration.tsx
  src/components/layout/Footer/FooterCopyright.tsx
  src/components/layout/Footer/FooterMemoji.tsx
  src/components/layout/Footer/FooterPoweredByVercel.tsx
  src/components/layout/Footer/FooterSocials/FooterSocials.tsx
  src/components/layout/Footer/FooterSocials/FooterSocialsDivider.tsx
  src/components/layout/Footer/FooterVercelStatus.tsx
  tailwind.config.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add ios emojis
  src/assets/images/emojis/call-me-hand.png
  src/assets/images/emojis/fire.png
  src/assets/images/emojis/gem-stone.png
  src/assets/images/emojis/raised-hand.png
  src/assets/images/emojis/waving-hand.png
  src/components/common/Emoji.tsx
  src/components/landing/Hero/HeroAboutMe.tsx
  src/components/landing/Hero/HeroIntroduction/HeroIntroductionHeader.tsx
  src/components/landing/Hero/HeroIntroduction/HeroIntroductionSocials.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiDiscoverMore.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeaderTitle.tsx
Due: pnpm prettier --write, pnpm eslint --fix

refactor: move memojis to a separate folder
  src/assets/images/memojis/macbook.png
  src/assets/images/memojis/smile.png
  src/assets/images/memojis/wave.png
  src/components/common/PageLogo.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiImage.tsx
  src/components/landing/Hero/HeroMobileMemoji.tsx
  src/components/layout/Footer/FooterMemoji.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeaderDecoration.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat: add ios emojis (#26)
  src/assets/images/emojis/call-me-hand.png
  src/assets/images/emojis/fire.png
  src/assets/images/emojis/gem-stone.png
  src/assets/images/emojis/raised-hand.png
  src/assets/images/emojis/waving-hand.png
  src/assets/images/memojis/macbook.png
  src/assets/images/memojis/smile.png
  src/assets/images/memojis/wave.png
  src/components/common/Emoji.tsx
  src/components/common/PageLogo.tsx
  src/components/landing/Hero/HeroAboutMe.tsx
  src/components/landing/Hero/HeroIntroduction/HeroIntroductionHeader.tsx
  src/components/landing/Hero/HeroIntroduction/HeroIntroductionSocials.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiDiscoverMore.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiImage.tsx
  src/components/landing/Hero/HeroMobileMemoji.tsx
  src/components/layout/Footer/FooterMemoji.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeaderDecoration.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionHeader/RecentPostsSectionHeaderTitle.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(hero): improve a11y
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiDiscoverMore.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiImage.tsx
  src/components/landing/Hero/HeroMobileMemoji.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(hero): improve discover more anchor
  src/app/layout.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiDiscoverMore.tsx
  src/components/posts/RecentPostsSection/RecentPostsSection.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(hero): improve discover more anchor (#27)
  src/app/layout.tsx
  src/components/landing/Hero/HeroLaptopMemoji/HeroLaptopMemojiDiscoverMore.tsx
  src/components/posts/RecentPostsSection/RecentPostsSection.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat: add projects page
  package.json
  pnpm-lock.yaml
  src/app/projekty/page.tsx
  src/assets/images/projects/devfaq.png
  src/assets/images/projects/discord-clone.png
  src/assets/images/projects/happy-shop.png
  src/assets/images/projects/impresso-studio.png
  src/assets/images/projects/mobius.png
  src/assets/images/projects/nodejs-minecraft-itemshop.png
  src/assets/images/projects/noodly.png
  src/assets/images/projects/picstagram.png
  src/components/common/PageHeader/PageHeader.tsx
  src/components/common/PageHeader/PageHeaderDetails.tsx
  src/components/common/PageHeader/PageHeaderImage.tsx
  src/components/common/Statistics/Statistics.tsx
  src/components/common/Statistics/StatisticsItem.tsx
  src/components/layout/Header/HeaderMenu/HeaderMenuNavigation/HeaderMenuNavigation.data.ts
  src/components/projects/ProjectList/ProjectList.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCard.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCardDetails.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCardImage.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCardTechnologies.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCardViewProjectButton.tsx
  src/components/projects/ProjectsHeader/ProjectsHeader.tsx
  src/components/projects/ProjectsHeader/ProjectsHeaderStatistics.tsx
  src/components/ui/Badge/Badge.stories.ts
  src/components/ui/Badge/Badge.tsx
  src/components/ui/Button/Button.tsx
  src/data/projects.ts
  src/types.ts
  src/utils/intl.ts
  tailwind.config.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add projects page (#28)
  package.json
  pnpm-lock.yaml
  src/app/projekty/page.tsx
  src/assets/images/projects/devfaq.png
  src/assets/images/projects/discord-clone.png
  src/assets/images/projects/happy-shop.png
  src/assets/images/projects/impresso-studio.png
  src/assets/images/projects/mobius.png
  src/assets/images/projects/nodejs-minecraft-itemshop.png
  src/assets/images/projects/noodly.png
  src/assets/images/projects/picstagram.png
  src/components/common/PageHeader/PageHeader.tsx
  src/components/common/PageHeader/PageHeaderDetails.tsx
  src/components/common/PageHeader/PageHeaderImage.tsx
  src/components/common/Statistics/Statistics.tsx
  src/components/common/Statistics/StatisticsItem.tsx
  src/components/layout/Header/HeaderMenu/HeaderMenuNavigation/HeaderMenuNavigation.data.ts
  src/components/projects/ProjectList/ProjectList.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCard.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCardDetails.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCardImage.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCardTechnologies.tsx
  src/components/projects/ProjectList/ProjectListCard/ProjectListCardViewProjectButton.tsx
  src/components/projects/ProjectsHeader/ProjectsHeader.tsx
  src/components/projects/ProjectsHeader/ProjectsHeaderStatistics.tsx
  src/components/ui/Badge/Badge.stories.ts
  src/components/ui/Badge/Badge.tsx
  src/components/ui/Button/Button.tsx
  src/data/projects.ts
  src/types.ts
  src/utils/intl.ts
  tailwind.config.ts
Due: pnpm prettier --write, pnpm eslint --fix

fix(common): fix image overflow
  src/components/common/PageHeader/PageHeader.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat: close menu after route change
  src/components/layout/Header/HeaderCollapse/useHeaderCollapse.ts
  src/hooks/useRouteChange.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor(hero): change buttons to links
  src/components/landing/Hero/HeroIntroduction/HeroIntroductionCTA.tsx
Due: pnpm prettier --write, pnpm eslint --fix

refactor(hero): change items gap
  src/components/layout/Header/HeaderMenu/HeaderMenu.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(layout): add middle waves
  src/app/layout.tsx
  src/components/common/MainLayout.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionList/RecentPostsSectionListEmptyPostCard.tsx
  src/components/ui/Card/Card.stories.ts
  src/components/ui/Card/Card.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(layout): add middle waves (#29)
  src/app/layout.tsx
  src/components/common/MainLayout.tsx
  src/components/posts/RecentPostsSection/RecentPostsSectionList/RecentPostsSectionListEmptyPostCard.tsx
  src/components/ui/Card/Card.stories.ts
  src/components/ui/Card/Card.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(storybook): add dark background
  .storybook/preview.tsx
Due: none

feat(storybook): add dark background (#30)
  .storybook/preview.tsx
Due: none

feat: add new recommendation
  src/assets/images/recommendations/michal-kowalkowski.png
  src/components/RecommendationsSection/RecommendationsSectionListItem.tsx
  src/data/recommendations.ts
  src/types.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add new experience
  pnpm-lock.yaml
  src/data/experiences.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add my vscode setup post
  posts/my-vscode-setup.mdx
  public/posts/my-vscode-setup/final-result.png
  public/thumbnails/my-vscode-setup.png
  src/components/Layout/Footer.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Initial commit
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .nvmrc
  .prettierignore
  .vscode/extensions.json
  LICENSE
  README.md
  astro.config.mjs
  commitlint.config.ts
  eslint.config.mjs
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  public/favicon.ico
  src/assets/styles/global.css
  src/pages/index.astro
  tsconfig.json
Due: pnpm prettier --write

feat: add color design tokens
  src/assets/styles/global.css
  src/pages/index.astro
Due: pnpm prettier --write

feat: add color design tokens (#32)
  src/assets/styles/global.css
  src/pages/index.astro
Due: pnpm prettier --write

feat: add font family
  package.json
  pnpm-lock.yaml
  src/assets/styles/global.css
  src/pages/index.astro
Due: pnpm prettier --write

feat: add font family (#33)
  package.json
  pnpm-lock.yaml
  src/assets/styles/global.css
  src/pages/index.astro
Due: pnpm prettier --write

feat: add footer to layout
  .vscode/settings.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/images/memojis/coding.png
  src/assets/images/memojis/smile.png
  src/assets/styles/global.css
  src/assets/svgs/powered-by-vercel.svg
  src/components/common/index.ts
  src/components/common/social-media.astro
  src/components/decorations/index.ts
  src/components/decorations/nickname.astro
  src/components/icons/github.astro
  src/components/icons/index.ts
  src/components/icons/linkedin.astro
  src/components/icons/twitter-x.astro
  src/components/layouts/index.ts
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-copyright.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-decoration.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-deployment.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-memoji.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
  src/components/layouts/main-layout/main-layout.astro
  src/components/ui/avatar.astro
  src/components/ui/container.astro
  src/components/ui/index.ts
  src/components/ui/text.astro
  src/env.d.ts
  src/pages/index.astro
  src/types/icon-props.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add footer to layout (#34)
  .vscode/settings.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/images/memojis/coding.png
  src/assets/images/memojis/smile.png
  src/assets/styles/global.css
  src/assets/svgs/powered-by-vercel.svg
  src/components/common/index.ts
  src/components/common/social-media.astro
  src/components/decorations/index.ts
  src/components/decorations/nickname.astro
  src/components/icons/github.astro
  src/components/icons/index.ts
  src/components/icons/linkedin.astro
  src/components/icons/twitter-x.astro
  src/components/layouts/index.ts
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-copyright.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-decoration.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-deployment.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-memoji.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
  src/components/layouts/main-layout/main-layout.astro
  src/components/ui/avatar.astro
  src/components/ui/container.astro
  src/components/ui/index.ts
  src/components/ui/text.astro
  src/env.d.ts
  src/pages/index.astro
  src/types/icon-props.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat(main-layout): add header
  eslint.config.mjs
  prettier.config.mjs
  src/components/layouts/main-layout/main-layout-header/main-layout-header-home-page-link.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-contact-button.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-items.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-toggle-button.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header.constants.ts
  src/components/layouts/main-layout/main-layout.astro
  src/components/ui/button.astro
  src/components/ui/container.astro
  src/components/ui/index.ts
  src/components/ui/link.astro
  src/components/ui/text.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat(main-layout): add header (#35)
  eslint.config.mjs
  prettier.config.mjs
  src/components/layouts/main-layout/main-layout-header/main-layout-header-home-page-link.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-contact-button.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-items.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-toggle-button.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header.constants.ts
  src/components/layouts/main-layout/main-layout.astro
  src/components/ui/button.astro
  src/components/ui/container.astro
  src/components/ui/index.ts
  src/components/ui/link.astro
  src/components/ui/text.astro
Due: pnpm prettier --write, pnpm eslint --fix

refactor(main-layout): change footer spacing
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
Due: none

feat(main-layout): add content wrapper
  src/components/layouts/main-layout/main-layout-content-wrapper.astro
  src/components/layouts/main-layout/main-layout.astro
Due: none

feat(main-layout): add content wrapper (#36)
  src/components/layouts/main-layout/main-layout-content-wrapper.astro
  src/components/layouts/main-layout/main-layout.astro
Due: none

refactor: change images size
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-memoji.astro
  src/components/ui/avatar.astro
Due: none
