Repository AdiPol1359/adipol.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

.lintstagedrc:

{
	"src/**/*.{ts,tsx,css,json,md,mdx}": ["pnpm prettier --write"],
	"src/**/*.{ts,tsx}": ["pnpm eslint --fix"]
}

refactor(main-layout): improve tag values
  src/components/layouts/main-layout/main-layout-head-tags.astro
  src/components/layouts/main-layout/main-layout.types.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat(main-layout): add SEO head tags (#64)
  astro.config.mjs
  src/assets/images/pages/banner.png
  src/components/layouts/main-layout/main-layout-head-tags.astro
  src/components/layouts/main-layout/main-layout.astro
  src/components/layouts/main-layout/main-layout.types.ts
  src/pages/[slug].astro
  src/pages/o-mnie.astro
  src/pages/posty.astro
  src/pages/projekty.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat: add favicons
  public/apple-touch-icon.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/components/layouts/main-layout/main-layout-head-tags.astro
Due: none

feat: add favicons (#65)
  public/apple-touch-icon.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/components/layouts/main-layout/main-layout-head-tags.astro
Due: none

feat(post): add container to post content
  src/components/post/post-view/post-view-content.astro
Due: none

feat: add new project
  src/assets/images/projects/meet.js-assets-generator.png
  src/data/projects.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add new project (#66)
  src/assets/images/projects/meet.js-assets-generator.png
  src/data/projects.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor(blocks): remove share button from post card
  src/components/blocks/post-card.astro
  src/components/icons/index.ts
  src/components/icons/share.astro
  src/components/ui/icon-button.astro
  src/components/ui/index.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: calculate post reading time
  package.json
  pnpm-lock.yaml
  src/components/blocks/post-card.astro
  src/lib/posts.ts
  src/types/post.ts
  src/utils/create-pluralizer.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: calculate post reading time (#67)
  package.json
  pnpm-lock.yaml
  src/components/blocks/post-card.astro
  src/lib/posts.ts
  src/types/post.ts
  src/utils/create-pluralizer.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor: update contents
  src/components/about-me/about-me-section/about-me-section-description.astro
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-introduction.astro
  src/components/home/hero-section/hero-section-about-me.astro
  src/components/home/hero-section/hero-section-image/hero-section-image-memoji.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list-empty-space-card.astro
Due: none

fix(posts): fix semantic
  src/components/posts/posts-section/posts-section-no-data-card.astro
Due: none

refactor(about-me): change about me content
  src/components/about-me/about-me-section/about-me-section-description.astro
Due: none

feat: add animations
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/about-me/recommendations-section/recommendations-section.astro
  src/components/about-me/recommendations-section/recommendations-section.constants.ts
  src/components/blocks/fade-in-container/fade-in-container.astro
  src/components/blocks/fade-in-container/fade-in-container.constants.ts
  src/components/blocks/index.ts
  src/components/blocks/page-header/page-header.astro
  src/components/blocks/page-header/page-header.constants.ts
  src/components/decorations/scribble.astro
  src/components/home/decorations/decorations.astro
  src/components/home/decorations/decorations.constants.ts
  src/components/home/hero-section/hero-section-animation.astro
  src/components/home/hero-section/hero-section-image/hero-section-image-memoji.astro
  src/components/home/hero-section/hero-section-image/hero-section-image.astro
  src/components/home/hero-section/hero-section-image/hero-section-image.constants.ts
  src/components/home/hero-section/hero-section.astro
  src/components/home/hero-section/hero-section.constants.ts
  src/components/home/index.ts
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-left-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-right-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header.constants.ts
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.constants.ts
  src/components/posts/posts-section/posts-section-posts-list.astro
  src/components/projects/projects-list/projects-list.astro
  src/components/projects/projects-list/projects-list.constants.ts
  src/components/ui/statistics/statistics-item.astro
  src/lib/animations.ts
  src/pages/[slug].astro
  src/pages/o-mnie.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat: add animations (#68)
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/about-me/recommendations-section/recommendations-section.astro
  src/components/about-me/recommendations-section/recommendations-section.constants.ts
  src/components/blocks/fade-in-container/fade-in-container.astro
  src/components/blocks/fade-in-container/fade-in-container.constants.ts
  src/components/blocks/index.ts
  src/components/blocks/page-header/page-header.astro
  src/components/blocks/page-header/page-header.constants.ts
  src/components/decorations/scribble.astro
  src/components/home/decorations/decorations.astro
  src/components/home/decorations/decorations.constants.ts
  src/components/home/hero-section/hero-section-animation.astro
  src/components/home/hero-section/hero-section-image/hero-section-image-memoji.astro
  src/components/home/hero-section/hero-section-image/hero-section-image.astro
  src/components/home/hero-section/hero-section-image/hero-section-image.constants.ts
  src/components/home/hero-section/hero-section.astro
  src/components/home/hero-section/hero-section.constants.ts
  src/components/home/index.ts
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-left-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-right-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header.constants.ts
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.constants.ts
  src/components/posts/posts-section/posts-section-posts-list.astro
  src/components/projects/projects-list/projects-list.astro
  src/components/projects/projects-list/projects-list.constants.ts
  src/components/ui/statistics/statistics-item.astro
  src/lib/animations.ts
  src/pages/[slug].astro
  src/pages/o-mnie.astro
Due: pnpm prettier --write, pnpm eslint --fix

chore: add prefetching
  astro.config.mjs
Due: none

feat: add more animations
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-introduction.astro
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header.constants.ts
  src/components/blocks/fade-in-container/fade-in-container.astro
  src/components/blocks/fade-in-container/fade-in-container.constants.ts
  src/components/blocks/index.ts
  src/components/blocks/slide-in-container/slide-in-container.astro
  src/components/blocks/slide-in-container/slide-in-container.constants.ts
  src/components/posts/posts-section/posts-section-no-data-card.astro
  src/lib/animations.ts
  src/pages/[slug].astro
  src/pages/o-mnie.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat: add more animations (#69)
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-introduction.astro
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header.constants.ts
  src/components/blocks/fade-in-container/fade-in-container.astro
  src/components/blocks/fade-in-container/fade-in-container.constants.ts
  src/components/blocks/index.ts
  src/components/blocks/slide-in-container/slide-in-container.astro
  src/components/blocks/slide-in-container/slide-in-container.constants.ts
  src/components/posts/posts-section/posts-section-no-data-card.astro
  src/lib/animations.ts
  src/pages/[slug].astro
  src/pages/o-mnie.astro
Due: pnpm prettier --write, pnpm eslint --fix

refactor: change copy
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-statistics.astro
Due: none

chore: change prefetch strategy
  astro.config.mjs
Due: none

refactor: change animation margins
  src/components/posts/posts-section/posts-section-posts-list.astro
  src/components/projects/projects-list/projects-list.astro
Due: none

chore: add new thumbnail
  src/assets/images/thumbnails/wydajne-providery-w-react.png
Due: none

chore: change site url
  astro.config.mjs
Due: none

chore: remove vercel config
  vercel.json
Due: none

chore: add vercel adapter
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore: add vercel adapter (#70)
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix(post): fix sources styles
  src/components/post/post-view/post-view-sources/post-view-sources-list.astro
Due: none

refactor(post): improve content styles
  src/assets/styles/global.css
  src/components/layouts/main-layout/main-layout.astro
  src/components/post/post-view/post-view-content.astro
  src/components/posts/posts-section/posts-section-no-data-card.astro
  src/components/ui/heading.astro
  src/pages/[slug].astro
Due: pnpm prettier --write

refactor(post): improve content styles (#71)
  src/assets/styles/global.css
  src/components/layouts/main-layout/main-layout.astro
  src/components/post/post-view/post-view-content.astro
  src/components/posts/posts-section/posts-section-no-data-card.astro
  src/components/ui/heading.astro
  src/pages/[slug].astro
Due: pnpm prettier --write

refactor(post): improve content styles
  src/assets/styles/global.css
  src/components/post/post-view/post-view-content.astro
Due: pnpm prettier --write

fix(blocks): fix post card responsiveness
  src/components/blocks/post-card.astro
  src/components/ui/card/card-content.astro
Due: none

feat: add "Optymalizuj aplikacje jak mistrz cz. 1"
  posts/optymalizuj-aplikacje-jak-mistrz-cz-1.md
  src/assets/images/thumbnails/optymalizuj-aplikacje-jak-mistrz-cz-1.png
Due: none

feat: add "Optymalizuj aplikacje jak mistrz cz. 1" (#72)
  posts/optymalizuj-aplikacje-jak-mistrz-cz-1.md
  src/assets/images/thumbnails/optymalizuj-aplikacje-jak-mistrz-cz-1.png
Due: none

chore: fix typo
  posts/optymalizuj-aplikacje-jak-mistrz-cz-1.md
Due: none

fix(post): fix comments category id
  src/components/post/post-comments.astro
Due: none

refactor: update data
  src/assets/images/recommendations/michal-kowalkowski.jpeg
  src/components/about-me/about-me-section/about-me-section-description.astro
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-statistics.astro
Due: none

feat: add new experience
  src/data/experiences.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor: update about me
  src/components/about-me/about-me-section/about-me-section-description.astro
Due: none

feat: add LangPal project
  pnpm-workspace.yaml
  src/assets/images/projects/langpal.png
  src/data/projects.ts
Due: pnpm prettier --write, pnpm eslint --fix

chore: remove workspace config
  .gitignore
  pnpm-workspace.yaml
Due: none
