Repository AdiPol1359/adipol.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

refactor(ui): improve styles
  src/components/ui/chip.astro
  src/components/ui/heading.astro
  src/components/ui/input.astro
  src/components/ui/paper.astro
Due: none

refactor(decorations): improve styles
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-introduction.astro
  src/components/decorations/arrow.astro
  src/components/decorations/scribble.astro
  src/components/decorations/wavy-line.astro
  src/components/home/decorations.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-left-section.astro
Due: none

refactor(blocks): refactor social media
  src/components/blocks/social-media.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/data/social-media.ts
  src/types/social-media.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor(blocks): refactor social media (#50)
  src/components/blocks/social-media.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-social-media.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-social-profile.astro
  src/data/social-media.ts
  src/types/social-media.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor(layouts): clean up main layout code
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-copyright.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-decoration.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-deployment.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-home-page-avatar.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-items.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-links.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-script.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header.astro
  src/components/layouts/main-layout/main-layout.astro
Due: none

refactor(layouts): clean up main layout code (#51)
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-copyright.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-decoration.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer-deployment.astro
  src/components/layouts/main-layout/main-layout-footer/main-layout-footer.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-home-page-avatar.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-items.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation-links.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-navigation/main-layout-header-navigation.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-script.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header.astro
  src/components/layouts/main-layout/main-layout.astro
Due: none

refactor(home): clean up hero section code
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar.astro
  src/components/home/hero-section/hero-section-image/hero-section-image-discover-more.astro
  src/components/home/hero-section/hero-section-image/hero-section-image-memoji.astro
  src/components/home/hero-section/hero-section-image/hero-section-image.astro
  src/components/home/hero-section/hero-section.astro
Due: none

feat(home): make hero elements interactive
  src/components/home/hero-section/hero-section-image/hero-section-image-discover-more.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-cta.astro
  src/components/home/latest-posts-section/latest-posts-section.astro
Due: none

refactor(home): improve hero decoration styles
  src/components/decorations/scribble.astro
  src/components/decorations/wavy-line.astro
  src/components/home/decorations.astro
  src/components/home/hero-section/hero-section-image/hero-section-image-discover-more.astro
Due: none

refactor(home): improve latest posts section code
  src/components/home/latest-posts-section/latest-posts-section-footer.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-left-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-right-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/home/latest-posts-section/latest-posts-section.astro
  src/components/home/latest-posts-section/latest-posts-section.constants.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor(home): clean up code (#52)
  src/components/decorations/scribble.astro
  src/components/decorations/wavy-line.astro
  src/components/home/decorations.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar-discover-more.astro
  src/components/home/hero-section/hero-section-avatar/hero-section-avatar.astro
  src/components/home/hero-section/hero-section-image/hero-section-image-discover-more.astro
  src/components/home/hero-section/hero-section-image/hero-section-image-memoji.astro
  src/components/home/hero-section/hero-section-image/hero-section-image.astro
  src/components/home/hero-section/hero-section-intro/hero-section-intro-cta.astro
  src/components/home/hero-section/hero-section.astro
  src/components/home/latest-posts-section/latest-posts-section-footer.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-left-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header-right-section.astro
  src/components/home/latest-posts-section/latest-posts-section-header/latest-posts-section-header.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/home/latest-posts-section/latest-posts-section.astro
  src/components/home/latest-posts-section/latest-posts-section.constants.ts
Due: pnpm prettier --write, pnpm eslint --fix

fix: fix w3c validator errors
  src/components/decorations/lines.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-toggle-button.astro
Due: none

fix: fix w3c validator errors (#53)
  src/components/decorations/lines.astro
  src/components/layouts/main-layout/main-layout-header/main-layout-header-toggle-button.astro
Due: none

refactor(posts): clean up code
  src/components/home/latest-posts-section/latest-posts-section.astro
  src/components/posts/posts-filtering-script.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/posts/posts-section/posts-section.constants.ts
  src/components/posts/search-form/search-form.astro
  src/components/posts/search-form/search-form.constants.ts
  src/components/posts/tags-section/tags-section.astro
  src/components/posts/tags-section/tags-section.constants.ts
  src/lib/posts.ts
  src/pages/[slug].astro
  src/pages/posty.astro
Due: pnpm prettier --write, pnpm eslint --fix

fix(posts): hide bottom wave
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout.astro
  src/pages/posty.astro
Due: none

refactor(posts): clean up code (#54)
  src/components/home/latest-posts-section/latest-posts-section.astro
  src/components/layouts/main-layout/main-layout-decorations.astro
  src/components/layouts/main-layout/main-layout.astro
  src/components/posts/posts-filtering-script.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/posts/posts-section/posts-section.constants.ts
  src/components/posts/search-form/search-form.astro
  src/components/posts/search-form/search-form.constants.ts
  src/components/posts/tags-section/tags-section.astro
  src/components/posts/tags-section/tags-section.constants.ts
  src/lib/posts.ts
  src/pages/[slug].astro
  src/pages/posty.astro
Due: pnpm prettier --write, pnpm eslint --fix

refactor(projects): improve code
  src/components/projects/projects-header.astro
  src/components/projects/projects-list/projects-list-project.astro
Due: none

refactor(projects): improve code (#55)
  src/components/projects/projects-header.astro
  src/components/projects/projects-list/projects-list-project.astro
Due: none

refactor(about-me): improve code
  src/components/about-me/about-me-section/about-me-section-divider.astro
  src/components/about-me/experience-section/experience-section-experience.astro
  src/components/about-me/experience-section/experience-section-timeline/experience-section-timeline.astro
  src/components/about-me/experience-section/experience-section-title.astro
  src/components/about-me/experience-section/experience-section.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items-recommendation/recommendations-section-items-recommendation-content.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items-recommendation/recommendations-section-items-recommendation.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-content.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-decoration.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-header.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation.astro
  src/components/about-me/recommendations-section/recommendations-section-title.astro
  src/components/about-me/recommendations-section/recommendations-section.astro
  src/components/about-me/skills-section/skills-section-items/skills-section-items.astro
  src/components/about-me/skills-section/skills-section-skill.astro
  src/components/about-me/skills-section/skills-section-title.astro
  src/components/about-me/skills-section/skills-section.astro
Due: none

refactor(about-me): improve code (#56)
  src/components/about-me/about-me-section/about-me-section-divider.astro
  src/components/about-me/experience-section/experience-section-experience.astro
  src/components/about-me/experience-section/experience-section-timeline/experience-section-timeline.astro
  src/components/about-me/experience-section/experience-section-title.astro
  src/components/about-me/experience-section/experience-section.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items-recommendation/recommendations-section-items-recommendation-content.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items-recommendation/recommendations-section-items-recommendation.astro
  src/components/about-me/recommendations-section/recommendations-section-items/recommendations-section-items.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-content.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-decoration.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-header.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation.astro
  src/components/about-me/recommendations-section/recommendations-section-title.astro
  src/components/about-me/recommendations-section/recommendations-section.astro
  src/components/about-me/skills-section/skills-section-items/skills-section-items.astro
  src/components/about-me/skills-section/skills-section-skill.astro
  src/components/about-me/skills-section/skills-section-title.astro
  src/components/about-me/skills-section/skills-section.astro
Due: none

refactor(post): improve code
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-content.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-header.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation.astro
  src/components/post/post-comments.astro
  src/components/post/post-view/post-view-content.astro
  src/components/post/post-view/post-view-edit-content.astro
  src/components/post/post-view/post-view-header.astro
  src/components/post/post-view/post-view-sources/post-view-sources-title.astro
  src/components/post/post-view/post-view-sources/post-view-sources.astro
  src/components/post/post-view/post-view.astro
  src/pages/[slug].astro
Due: none

refactor(post): improve code (#57)
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-content.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation-header.astro
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation.astro
  src/components/post/post-comments.astro
  src/components/post/post-view/post-view-content.astro
  src/components/post/post-view/post-view-edit-content.astro
  src/components/post/post-view/post-view-header.astro
  src/components/post/post-view/post-view-sources/post-view-sources-title.astro
  src/components/post/post-view/post-view-sources/post-view-sources.astro
  src/components/post/post-view/post-view.astro
  src/pages/[slug].astro
Due: none

feat: optimize images
  astro.config.mjs
  src/components/blocks/post-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/projects/projects-list/projects-list-project.astro
Due: none

feat: optimize images (#58)
  astro.config.mjs
  src/components/blocks/post-card.astro
  src/components/home/latest-posts-section/latest-posts-section-list/latest-posts-section-list.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/projects/projects-list/projects-list-project.astro
Due: none

fix: fix mobile animations
  astro.config.mjs
  src/assets/styles/global.css
Due: pnpm prettier --write

refactor: change order
  astro.config.mjs
Due: none

fix: fix mobile animations (#59)
  astro.config.mjs
  src/assets/styles/global.css
Due: pnpm prettier --write

feat(posts): add tags to post card
  src/components/blocks/post-card.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/ui/badge.astro
  src/components/ui/card/card-inset.astro
  src/components/ui/index.ts
Due: pnpm prettier --write, pnpm eslint --fix

fix(posts): fix tag badge responsiveness
  src/components/blocks/post-card.astro
Due: none

feat(posts): add tags to post card (#60)
  src/components/blocks/post-card.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/ui/badge.astro
  src/components/ui/card/card-inset.astro
  src/components/ui/index.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat(posts): add empty state to post search
  src/assets/images/emojis/crying-face.png
  src/components/posts/posts-filtering-script.astro
  src/components/posts/posts-section/posts-section-no-data-card.astro
  src/components/posts/posts-section/posts-section-posts-list.astro
  src/components/posts/posts-section/posts-section-title.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/posts/posts-section/posts-section.constants.ts
  src/components/posts/search-form/search-form.astro
  src/components/posts/search-form/search-form.constants.ts
  src/components/posts/tags-section/tags-section.astro
  src/components/posts/tags-section/tags-section.constants.ts
  src/components/ui/emoji.astro
Due: pnpm prettier --write, pnpm eslint --fix

feat(posts): add empty state to post search (#61)
  src/assets/images/emojis/crying-face.png
  src/components/posts/posts-filtering-script.astro
  src/components/posts/posts-section/posts-section-no-data-card.astro
  src/components/posts/posts-section/posts-section-posts-list.astro
  src/components/posts/posts-section/posts-section-title.astro
  src/components/posts/posts-section/posts-section.astro
  src/components/posts/posts-section/posts-section.constants.ts
  src/components/posts/search-form/search-form.astro
  src/components/posts/search-form/search-form.constants.ts
  src/components/posts/tags-section/tags-section.astro
  src/components/posts/tags-section/tags-section.constants.ts
  src/components/ui/emoji.astro
Due: pnpm prettier --write, pnpm eslint --fix

refactor: update statistics
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-statistics.astro
  src/components/posts/posts-header.astro
  src/components/projects/projects-header.astro
  src/components/ui/statistics/statistics-item.astro
Due: none

refactor: update statistics (#62)
  src/components/about-me/about-me-section/about-me-section-header/about-me-section-header-statistics.astro
  src/components/posts/posts-header.astro
  src/components/projects/projects-header.astro
  src/components/ui/statistics/statistics-item.astro
Due: none

feat(about-me): add border to recommendation
  src/components/about-me/recommendations-section/recommendations-section-recommendation/recommendations-section-recommendation.astro
Due: none

refactor: improve statistics styles
  src/components/ui/statistics/statistics-item.astro
Due: none

feat(posts): improve responsiveness
  src/components/posts/posts-section/posts-section-no-data-card.astro
Due: none

feat: add title to pages
  src/components/layouts/main-layout/main-layout.astro
  src/pages/[slug].astro
  src/pages/o-mnie.astro
  src/pages/posty.astro
  src/pages/projekty.astro
Due: none

feat: add title to pages (#63)
  src/components/layouts/main-layout/main-layout.astro
  src/pages/[slug].astro
  src/pages/o-mnie.astro
  src/pages/posty.astro
  src/pages/projekty.astro
Due: none

feat(main-layout): add SEO head tags
  astro.config.mjs
  src/assets/images/pages/banner.png
  src/components/layouts/main-layout/main-layout-head-tags.astro
  src/components/layouts/main-layout/main-layout.astro
  src/components/layouts/main-layout/main-layout.types.ts
  src/pages/[slug].astro
  src/pages/o-mnie.astro
  src/pages/posty.astro
  src/pages/projekty.astro
Due: pnpm prettier --write, pnpm eslint --fix

Path conditions:
  pnpm prettier --write: any of: src/**/*.{ts,tsx,css,json,md,mdx}
  pnpm eslint --fix: any of: src/**/*.{ts,tsx}
